@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Fleur+De+Leah&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Colors
$primaryColor: #a5d364; // Main color
$primaryTextColor: #212121; // Main text color
$secondaryTextColor: #9b9b9b; // Secondary text color
$warningColor: #ffd700; // Warning color
$errorColor: #ff4d4f; // Error color
$successColor: #4caf50; // Success color

// Fonts
$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: 'Caveat', cursive;
$specialFont: 'Fleur De Leah', cursive;